*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.text-color-normal{
    color: rgba(37,36,50,.5);
    font-weight: 100;
}



/* font style */


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.backgrounColor{
        background-color: #4E47FF;
}







.header{
    overflow: hidden;
    width: 100%;
    height:698px ;
    background-image: url(../Assets/Hero-bg.png);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    
}
.logo{
    color: #4E47FF;
    font-size: 34px;

}
.SignUpBtn{
    width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.heroAreaText{
    text-align: center;
    margin: 209px 267px 237px;
}

.heroTitle{
    font-size: 65px;
    font-weight: bold;
}

.stayBtn{
    width: 174px;
    height: 40px;
    font-size:16px;
    font-weight: bold;
    color: white;
    margin: 37px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.stayBtn:hover{
    background-color: aquamarine;
    color: black;
}


/* action style */

/* 
.action{
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.action-text{
    width: 517px;
    height: 203px;
    margin: 62px 0;
    border: 1px solid black;
    
}

.action-title{
    font-size: 42px;
    font-weight: bold;
}

.action-description{
    margin: 25px 0;
    font-size: 24px;
} */


    .action-section {
        width: 1140px;
        height: 328px;
        margin: 115px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .action-text {
    flex: 1;
    }




    .action-text h3 {
      font-size: 42px;
      color: #1c1e21;
      margin-bottom: 23px;
      font-weight: bold;
    }

    .action-text p {
      font-size: 24px;
      color: #6b6f76;
      margin-bottom: 23px;
      max-width: 517px;
    }

    .action-text button {
      width: 229px;
      height: 48px;
      background-color: #4f46e5;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .action-text button:hover {
      background-color: #4338ca;
    }

    .action-image {
      flex:1;
      text-align: right;
    }

    .action-image img {
      border-radius: 48px;
      
    }

    /* production style */


    .production {
      background-color: #eef0ff;
      border-radius: 20px;
        width:1140px;
        height: 328px;
        margin: 127px auto;
      text-align: center;
      overflow: hidden;
    }

    .production h2 {
      font-size: 38px;
      color: #252432;
      font-weight:bold;
      margin-top: 50px;
      margin-bottom: 40px;
    }

    .stats-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .stat-box{
        flex:1;
    }

    .stat-box h1{
        font-size: 80px;
        font-weight: bold;
        color: #4E47FF;
    }

    .stat-box p{
        color: #6b6f76;
        font-size: 20px;
    }