*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.text-color-normal{
    color: rgba(37,36,50,.5);
    font-weight: 100;
}



/* font style */


.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.backgroun-color{
    background-color: #F5F8FF;
}



.backgrounColor{
        background-color: #4E47FF;
}

.header{
    overflow: hidden;
    width: 100%;
    height:698px ;
    background-image: url(../Assets/Hero-bg.png);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    
}
.logo{
    color: #4E47FF;
    font-size: 34px;

}
.SignUpBtn{
    width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.heroAreaText{
    text-align: center;
    margin: 209px 267px 237px;
}

.heroTitle{
    font-size: 65px;
    font-weight: bold;
}

.stayBtn{
    width: 174px;
    height: 40px;
    font-size:16px;
    font-weight: bold;
    color: white;
    margin: 37px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.stayBtn:hover{
    background-color: aquamarine;
    color: black;
}




/* action style */


main{
    overflow: hidden;
}



    .action-section {
        width: 1140px;
        height: 328px;
        margin: 115px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .action-text {
    flex: 1;
    }


    .action-text h3 {
      font-size: 42px;
      color: #1c1e21;
      margin-bottom: 23px;
      font-weight: bold;
    }

    .action-text p {
      font-size: 24px;
      color: #6b6f76;
      margin-bottom: 23px;
      max-width: 517px;
    }

    .action-text button {
      width: 229px;
      height: 48px;
      background-color: #4f46e5;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .action-text button:hover {
      background-color: #4338ca;
    }

    .action-image {
      flex:1;
      text-align: right;
    }

    .action-image img {
      border-radius: 48px;
      
    }

    /* production style */


    .production {
      background-color: #d7dce6;
      /* background-color: #4E47FF; */
      border-radius: 20px;
        width:1140px;
        height: 328px;
        margin: 127px auto;
      text-align: center;
      overflow: hidden;
    }

    .production h2 {
      font-size: 38px;
      color: #252432;
      font-weight:bold;
      margin-top: 50px;
      margin-bottom: 40px;
    }

    .stats-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .stat-box{
        flex:1;
    }

    .stat-box h1{
        font-size: 80px;
        font-weight: bold;
        color: #4E47FF;
    }

    .stat-box p{
        color: #6b6f76;
        font-size: 20px;
    }


    /* review style */

    .review-title{
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }

    .review{
        width: 1140px;
        height: 328px;
        margin: 137px auto;

    }

    .review-container{
        display: flex;
        gap:20px;

    }

    .review-container-box{
        flex: 1;
        background-color: #FFFFFF;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        padding: 24px;
        transition: transform 0.3s ease;
        border-radius: 14px;
    }

        .review-container-box:hover {
      transform: translateY(-5px);
    }


    .starLogo{
        margin-bottom: 25px;
    }

    .review-container-box h3{
        font-size: 22px;
        margin: 8px auto;

    }

    .review-container-box .review-description{
        font-size: 17px;
        margin-bottom: 24px;
    }

    .review-box{
        display: flex;
        gap:12px;
    }

    .review-box img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .review-box-title-data .reviewerName{
        color: #757575;
    }
    .review-box-title-data .reviewerData{
        color: #B3B3B3;
    }

    /* focus-promo */

    .focus-promo{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 1140px;
        height: 697px;
        background-color:#FFFFFF ;
        margin: 137px auto;
        border-radius: 14px;
    }

    .focus-promo h1{
        margin: 72px 0px 20px;
        font-size: 50px;
        font-weight: bold;
    }

    .focus-promo p{
        margin-bottom: 20px;
        font-size: 18px;
        color:#B3B3B3;
    
    }

    .focus-promo button{
        width: 195px;
        height: 48px;
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 300;
        color: #FFFFFF;
        background-color: #4E47FF;
        border: none;
        border-radius: 10px;
    }

    .focus-promo img{
        width: 840px;
        height: 363px;
        border-radius: 48px;
        margin: 0 150px 71px;

    }

    .focusBtn{
        text-align: center;
    }



/* ************ User Information   ********** */

    .userInfo{
        width: 1140px;
        height: 632px;
        margin: 0px auto;
        display: flex;
        align-items: center;
    }

    .user-title{
        font-size:97px;
        font-weight: bold;
    }

    .form{
        width: 497px;
        height: 490px;
        display: flex;
        flex-direction: column;
    }

    .form label{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .form input{
        margin-bottom: 10px;
        height: 70px;
        width: 497px;
        border-radius: 10px;
        padding: 32px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        outline:none;
    }
    

    .form textarea{
        width: 497px;
        height: 167px;
        margin-bottom: 19px;
        padding: 32px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
    }

    .touchBtn{
        width: 497px;
        height: 62px;
        font-size: 16px;
        font-weight: bold;
        background-color: #4E47FF;
        border-radius: 10px;
        border: none;
    }


    
